<div class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto ml-5 mt-5 pt-5">
          <h4 class="text-center text-white">ようこそ、ながのcakeへ！</br>
          このサイトはケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
          </h4>
        </div>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h3 class="mt-5">新着商品</h3>
    </div>
  </div>
  <div class="row">
    <div class="d-flex flex-wrap w-80 mx-auto">
      <% @items.each do |item| %>
      <div class="m-3">
        <%= link_to item_path(item.id) do %>
        <div><%= attachment_image_tag item, :image, :fill, 200, 200, fallback: "no_image.jpg" %></div>
        <% end %>
        <div><%= item.name %></div>
        <div><%= item.price %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center"><%= paginate @items %></div>
