<%= form_with model: @address, local: true do |f| %>
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <table class="table table-borderless">
        <tr>
          <th>郵便番号（ハイフンなし）</th>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_field :shipping_address, size: 50 %></td>
        </tr>
        <tr>
          <th>宛名</th>
          <td><%= f.text_field :name %></td>
          <td><%= f.submit '変更内容を保存', class: 'btn btn-success' %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>