<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h4>会員の方はこちらからログイン</h4>
    </div>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container">
  <div class="row">
    <table class="table table-borderless col-lg-6 mx-auto">
      <tr>
        <th>メールアドレス</th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "ログイン",class: 'btn btn-primary' %></td>
      </tr>
    </table>
  </div>
</div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h4>会員登録がお済みでない方</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h4>
        <%= link_to new_customer_registration_path do %>
        こちら
        <% end %>
        から新規登録を行ってください。
      </h4>
    </div>
  </div>
</div>


